<h1>dashboard</h1>
<div class="row">

    <div class="col-xs-6 col-md-3">
        <div class="card">
            <div class="display">
                <h3 class="font-green">2000 <i class="icon-pie-chart"></i></h3>
                <small>TOTAL PROFIT</small>
            </div>
            <div class="progress">
              <div class="progress-bar green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              </div>
            </div>
            <small>No Homeworks</small>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="card">
            <div class="display">
                <h3 class="font-red">612 <i class="fa fa-calendar"></i></h3>
                <small>Attendance</small>
            </div>
            <div class="progress">
              <div class="progress-bar red" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              </div>
            </div>
            <small>No Homeworks</small>
        </div>
    </div>

    <div class="col-xs-6 col-md-3">
        <div class="card">
            <div class="display">
                <h3 class="font-blue">124 <i class="fa fa-calendar"></i></h3>
                <small>Assignments</small>
            </div>
            <div class="progress">
              <div class="progress-bar blue" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              </div>
            </div>
            <small>No Homeworks</small>
        </div>
    </div>

    <div class="col-xs-6 col-md-3">
        <div class="card">
            <div class="display">
                <h3 class="font-purple">381 <i class="fa fa-calendar"></i></h3>
                <small>Others</small>
            </div>
            <div class="progress">
              <div class="progress-bar purple" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              </div>
            </div>
            <small>No Homeworks</small>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6 col-sm-6">

        <div class="card">
            <header>Feeds</header>
            <ul class="list-unstyled">
                <li>
                    <button class="btn btn-success btn-xs"><i class="fa fa-bell"></i></button>
                    New message from boss
                    <span>just now</span>
                </li>

                <li>
                    <button class="btn btn-warning btn-xs"><i class="fa fa-bell"></i></button>
                    New message from boss
                    <span>just now</span>
                </li>
                <li>
                    <button class="btn btn-warning btn-xs"><i class="fa fa-bell"></i></button>
                    New message from boss
                    <span>just now</span>
                </li>
                <li>
                    <button class="btn btn-warning btn-xs"><i class="fa fa-bell"></i></button>
                    New message from boss
                    <span>just now</span>
                </li>
            </ul>
        </div>

    </div>
</div>